<html>
    <head>
        <meta charset="utf-8"> 
        <style type="text/css">

        </style>
        <script src="js/vue.global.js">
        </script>
        <script>
        </script>
    </head>
    <body>
        <div id="counter">
            Counter: {{ counter }}
        </div>

        <div id="bind-attribute">
            <span v-bind:title="message">
              鼠标悬停几秒钟查看此处动态绑定的提示信息！
            </span>
        </div>

        <div id="event-handling">
            <p>{{ message }}</p>
            <button v-on:click="reverseMessage">反转 Message</button>
        </div>

        <div id="two-way-binding">
            <p>{{ message }}</p>
            <input v-model="message" />
        </div>

        <div id="list-rendering">
            <ol>
              <li v-for="todo in todos">
                {{ todo.text }}
              </li>
            </ol>
        </div>

        <script>
            const Counter = {
                data(){
                    return {
                        counter: 0
                    }
                },

                mounted() {
                    setInterval(() => {
                    this.counter++
                    }, 1000)
                }
            };

            const AttributeBinding = {
                data() {
                    return {
                        message: 'You loaded this page on ' + new Date().toLocaleString()
                        }
                    }
            }

            const EventHandling = {
                data() {
                    return {
                    message: 'Hello Vue.js!'
                    }
                },
                methods: {
                    reverseMessage() {
                    this.message = this.message
                        .split('')
                        .reverse()
                        .join('')
                    }
                }
            };

            const TwoWayBinding = {
                data() {
                    return {
                    message: 'Hello Vue!'
                    }
                }
            };

            const ListRendering = {
                data() {
                    return {
                    todos: [
                        { text: 'Learn JavaScript' },
                        { text: 'Learn Vue' },
                        { text: 'Build something awesome' }
                        ]
                    }
                }
            };

            Vue.createApp(Counter).mount('#counter');
            Vue.createApp(AttributeBinding).mount('#bind-attribute');
            Vue.createApp(EventHandling).mount('#event-handling')
            Vue.createApp(TwoWayBinding).mount('#two-way-binding')
            Vue.createApp(ListRendering).mount('#list-rendering')

        </script>
    </body>
</html>