<html>
    <head>
        <meta charset="utf-8"> 
        <style type="text/css">

        </style>
        <script src="js/vue2.js"></script>
    </head>
    <body>
        <div id="box">
            <input type="text" v-model="mytext" @input="handleInput"/>
            <ul>
                <li v-for="data in computedList" ::key="data">
                    {{data}}
                </li>
            </ul>
        </div>
        <script>
            var vm = new Vue({
                el:"#box",
                data:{
                    mytext:"",
                    datalist:["aaa","add","bbb","bbc","ccc","ddd", "eee", "ade"],
                },
                methods:{
                    test(){
                        return this.datalist.filter(item=>item.includes(this.mytext))
                    }
                },
                computed:{
                    computedList(){
                        return this.datalist.filter(item=>item.includes(this.mytext))
                    }
                }
            })
        </script>
    </body>
</html>


